

<form action="/books" method="get">
<div>
<label>Title</label>
<input type="text" name="title"  value="<%= typedText.title %>">
</div>
<div>
<label>Read After</label>
<input type="date" name="readAfter"  value="<%= typedText.readAfter %>">
</div>
<div>
<label>Read Before</label>
<input type="date" name="readBefore"  value="<%= typedText.readBefore %>">
</div><br>
<button type="submit">Search</button>
</form>
<br>
<div>
  <% books.forEach(book => { %>
    <img height="150" width="100" src="<%= book.coverImagePath %> ">    
 <% }) %>   
</div>