<head>
    <style>
        a{
            text-decoration: none;
        }
        .mybrary{
            font-size: 40px;
        }
    </style>
</head>
<header>
   <nav>
       <a class="mybrary" href="/">Mybrary</a>
       <ul>
           <li><a href="/authors">Authors</a></li>
           <li><a href="/authors/new">New Author</a></li>
       </ul>
   </nav> 
</header>